# Files to be ignored
plots/*
simulated_data/nifti/*
simulated_data/node_brain/*
simulated_data/node_brain_dist/*
simulated_data/supersubject_node_brain_dist/*
simulated_data/searchlights/*
simulated_data/resampled_noise_dicts/*
simulated_data/example_barcodes/*
simulated_data/randomise/*
logs/*
searchlight_summary/*
validation_summary/*
randomise_summary/*

# Exceptions
!plots/.gitkeep
!logs/.gitkeep
!simulated_data/nifti/.gitkeep
!simulated_data/node_brain/.gitkeep
!simulated_data/node_brain_dist/.gitkeep
!simulated_data/supersubject_node_brain_dist/.gitkeep
!simulated_data/searchlights/.gitkeep
!simulated_data/resampled_noise_dicts/.gitkeep
!simulated_data/resampled_noise_dicts/.gitkeep
!simulated_data/example_barcodes/.gitkeep
!simulated_data/randomise/.gitkeep
!searchlight_summary/.gitkeep
!randomise_summary/.gitkeep
!validation_summary/.gitkeep
